<div ng-class="menuClasses" class="le-menu-classes">
	<div class="section column one" id="section-{{section.id}}" ng-repeat='section in menu.menus' ng-if="!section.deleted">
<!--
		<div class="featured-item-wrapper" ng-show="section.featuredItems.length > 0">
			<img ng-src="{{section.featuredItems[0].item.imageUrl}}" class="featured-item-image">
		</div>

		<h1 class="section-title" ng-bind='section.name'></h1>

		<div class="section-description" ng-if='section.description.trim().length > 0' ng-bind-html='section.description | trustedHtml'></div>
-->
		<div class="section-sortable rl-tabs">
			<div class="subsection-title-list rl-tab-list" click-first-title>
				<div class="subsection-title" id="subsection-title-{{subsection.id}}" ng-repeat="subsection in section.subsections" ng-if="!subsection.deleted" ng-bind='subsection.name' data-rel="#subsection-content-{{subsection.id}}" toggle-sidetab></div>
			</div>

			<div class="subsection-content-space rl-tab-content" set-content-min-height>
				<div class="subsection-content" id="subsection-content-{{subsection.id}}" ng-repeat="subsection in section.subsections" ng-if="!subsection.deleted">
					<div class="subsection-description" ng-if='subsection.description.trim().length > 0' ng-bind-html='subsection.description | trustedHtml'></div>

					<ul class="subsection-item-list list-group">
						<li class="subsection-item list-group-item" id="subsection-item-{{item.id}}" ng-repeat='item in subsection.items' ng-if="!item.deleted">
							<img ng-src='{{item.imageUrl}}' ng-show="item.imageUrl.length > 0" class="image subsection-item-image">
							<h3 class="" ng-bind='item.name'></h3>

							<span class="price" ng-repeat='price in item.prices'>
								<span class="price-value">{{price.value | currency:"$"}}</span> <span class="price-label" ng-bind="price.label"></span>
							</span>

							<span class="description" ng-if='item.description.trim().length > 0' ng-bind-html='item.description'></span>

							<div class="tags" ng-if="item.tags.length > 0">
								<span class='tag' ng-repeat='tag in item.tags' ng-bind='tag.tag' ng-class="tag.tag.slugify()"></span>
							</div>

							<div class="associated-items" ng-if="item.associated.length > 0">
								<h3 class="associated-heading">Related Items</h3>
								<div class="associated-items-list">
									<p class="associated-item"
									   id="associated-item-{{aItem.associatedItemId}}"
									   ng-repeat="aItem in item.associated"
									   ng-bind="aItem.associatedItem.name"
									   ng-click="open(aItem)">
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>