.le-menu-classes.menu-gridlock .featured-item-wrapper {
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .le-menu-classes.menu-gridlock .featured-item-wrapper {
    height: 100px;
  }
}
.le-menu-classes.menu-gridlock .featured-item-wrapper .featured-item-image {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.le-menu-classes.menu-gridlock .section {
  margin-top: 15px;
  overflow: auto;
  padding: 15px 0;
}
.le-menu-classes.menu-gridlock .section-title {
  margin: 0 0 15px 0;
  text-align: center;
}
.le-menu-classes.menu-gridlock .row-wrapper {
  display: block;
  width: 100%;
}
.le-menu-classes.menu-gridlock .subsection-wrapper {
  clear: both;
  width: 100%;
}
.le-menu-classes.menu-gridlock .subsection-wrapper:before,
.le-menu-classes.menu-gridlock .subsection-wrapper:after {
  content: " ";
  display: table;
}
.le-menu-classes.menu-gridlock .subsection-wrapper:after {
  clear: both;
}
.le-menu-classes.menu-gridlock .subsection {
  cursor: pointer;
  float: left;
  margin-bottom: 15px;
  overflow: auto;
  padding: 15px;
  vertical-align: top;
  width: 33.333333%;
}
@media (max-width: 767px) {
  .le-menu-classes.menu-gridlock .subsection {
    width: 100%;
  }
}
.le-menu-classes.menu-gridlock .subsection:last-child {
  margin-bottom: 0;
}
.le-menu-classes.menu-gridlock .subsection.open .featured-item-wrapper,
.le-menu-classes.menu-gridlock .subsection:hover .featured-item-wrapper {
  border-top: 7px solid;
  border-bottom: 7px solid;
}
.le-menu-classes.menu-gridlock .subsection.open .featured-item-wrapper:after {
  border-color: transparent;
  color: transparent;
}
.le-menu-classes.menu-gridlock .subsection .featured-item-wrapper {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.le-menu-classes.menu-gridlock .subsection .featured-item-wrapper:after {
  content: "+";
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 0 0 30px 30px;
  font-size: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 40px;
}
.le-menu-classes.menu-gridlock .subsection-title {
  margin: 0 0 15px 0;
}
@media (max-width: 767px) {
  .le-menu-classes.menu-gridlock .subsection-title {
    text-align: center;
  }
}
.le-menu-classes.menu-gridlock .subsection-content-wrapper {
  margin-bottom: 15px;
}
.le-menu-classes.menu-gridlock .subsection-content {
  display: none;
  width: 100%;
  border-top: 7px solid;
  border-bottom: 7px solid;
}
.le-menu-classes.menu-gridlock .subsection-content.open {
  display: block;
}
.le-menu-classes.menu-gridlock .subsection-description {
  padding: 15px 15px 0 15px;
}
.le-menu-classes.menu-gridlock .subsection-item-list {
  margin: 0;
  padding: 0;
}
.le-menu-classes.menu-gridlock .subsection-item {
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  width: 100%;
}
@media (max-width: 767px) {
  .le-menu-classes.menu-gridlock .subsection-item {
    width: 100% !important;
  }
}
.le-menu-classes.menu-gridlock .subsection-item .name {
  margin: 0 0 15px 0;
}
.le-menu-classes.menu-gridlock .subsection-item .subsection-item-image,
.le-menu-classes.menu-gridlock .subsection-item .image {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
}
.le-menu-classes.menu-gridlock .subsection-item .price {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 30px 5px 0;
  height: 25px;
}
.le-menu-classes.menu-gridlock .subsection-item .price:after {
  content: " ";
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 25px 0 0 25px;
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 0;
  height: 0;
}
.le-menu-classes.menu-gridlock .subsection-item .tags .tag {
  margin-right: 5px;
  border-radius: 5px;
  padding: 0 5px 0 0;
}
.le-menu-classes.menu-gridlock.menu-columns.column-count-1 .subsection-item {
  width: 100%;
}
.le-menu-classes.menu-gridlock.menu-columns.column-count-2 .subsection-item {
  width: 50%;
}
.le-menu-classes.menu-gridlock.menu-columns.column-count-3 .subsection-item {
  width: 33.333333333333%;
}
.le-menu-classes.menu-gridlock.menu-columns.column-count-4 .subsection-item {
  width: 25%;
}
/*# sourceMappingURL=gridlock.css.map */




.rl-menu, .rl-submenu {
  list-style: none;
}

.rl-gridlock-list {
  text-align: center;
  width: 30% !important;
}


/* Responsive */
@media only screen and (max-width: 950px) {

  .rl-gridlock-list {
    width: 100% !important;
    padding: 0px;
  }

}
